@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],input[type='number'],input[type='phone'],input[type='password'],textarea,input[type='email']{
   @apply w-full border px-4 py-2 rounded-3xl mb-2
}

button.login{
   background-color: #f5385d;
   @apply w-full p-2 rounded-3xl text-white
}
textarea{
   height: 160px;
}
.high_margen{
   margin-left: 10%;
   margin-right: 10%;
}

button:hover{
   background: gray;
}